.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  font-weight: bold;
  margin: 0 5px;
  padding: 4px 10px;
  text-align: center;
  text-transform: uppercase;

  color: #222;
  text-decoration: none;
  transition: background-color 0.1s;
}

.link:hover,
.link:active {
  background-color: #ddd;
}
