body {
  background-color: #eee;
  background-image: linear-gradient(to bottom, white, #eee 300px);
  color: #111;
  font-family: "Open Sans", sans-serif;
}

.jven-header {
  max-width: 500px;
  margin: 30px auto 20px auto;
  text-align: center;
  border-bottom: solid 2px #555;
}

.jven-header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-shadow: 3px 3px 2px #ccc;
}

.jven-header h1 a {
  color: inherit;
  text-decoration: none;
}

.jven-navigation {
  margin: 10px 0;
  padding: 0;
}

.jven-navigation div {
  display: inline-block;
  font-weight: bold;
  margin: 0 10px;
  padding: 2px 5px;
  text-align: center;
  text-transform: uppercase;
}

.jven-navigation div.jven-current-path {
  border-bottom: solid 4px #bd3b31;
  cursor: default;
}

.jven-navigation a {
  color: #222;
  text-decoration: none;
}

.jven-body {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px 30px;
}

.jven-footer {
  border-top: solid 2px #555;
  max-width: 500px;
  margin: 20px auto 0 auto;
  text-align: center;
}

.jven-links a {
  background-size: contain;
  display: inline-block;
  margin: 10px 0 0 0;
  text-decoration: none;
  width: 30px;
  height: 30px;
}

.jven-links a.jven-fb {
  background-image: url("/img/fb.png");
}

.jven-links a.jven-ig {
  background-image: url("/img/ig.png");
}

.jven-links a.jven-in {
  background-image: url("/img/in.png");
}

.jven-links a.jven-gh {
  background-image: url("/img/gh.png");
}

.jven-update {
  font-size: 12px;
  font-style: italic;
}

/* index.html */

.jven-index-caption {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  padding: 5px;
}

.jven-index-caption p {
  margin: 0 0 10px 0;
  padding: 0;
}

.jven-index-me {
  display: inline-block;
  width: 45%;
  vertical-align: middle;
}

/* resume.html */

.jven-resume iframe {
  display: block;
  width: 100%;
  height: 400px;
  margin: 15px 0 0 0;
}

/* thoughts.html */

.jven-thoughts-list {
  margin: 0;
  padding: 0;
}

.jven-thoughts-list a {
  background-color: #ccc;
  color: inherit;
  display: block;
  font-weight: bold;
  margin: 10px auto;
  max-width: 350px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.jven-thoughts-list a h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.jven-thoughts-list a h3 {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-style: italic;
}

/* thoughts */

.jven-thoughts-post h2 {
  font-size: 20px;
  margin: 5px 0;
  padding: 0;
}

.jven-thoughts-post h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.jven-thoughts-post p {
  font-size: 14px;
}

/* hoverable */
.jven-hoverable {
  cursor: pointer;

  -webkit-transition: background-color 0.2s, opacity 0.2s;
  -moz-transition: background-color 0.2s, opacity 0.2s;
  -o-transition: background-color 0.2s, opacity 0.2s;
  transition: background-color 0.2s, opacity 0.2s;
}

.jven-hoverable:hover,
.jven-hoverable:active {
  background-color: #ddd;
}
